@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap');

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

body {
	font-family: "Inter";
	background-color: #141414;
}

[class*="__container"] {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0px 20px;
	width: 100%;
}

[class*="__container-big"] {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px 20px;
	width: 100%;
}

/*==========================================================================================*/

.header {
	position: fixed;
	z-index: 50;
	width: 100%;
	left: 0;
	top: 0;
}

.header::before {
	content: '';
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #141414;
}

.header__body {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	height: 80px;
	position: relative;
	align-items: center;
}

.header__logo {
	flex: 0 0 60px;
	position: relative;
	z-index: 5;
}

.header__logo img {
	max-width: 100%;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	position: relative;
	z-index: 3;
	list-style: none;
}

.header__item {
	padding: 8px;
}

.header__link {
	font-size: 16px;
	line-height: 24px;
	font-weight: 900;
	color: #fff;
	transition: color 0.3s;
}

.header__link:hover {
	color: red;
}

.header__burger {
	display: none;
}

@media (max-width: 772px) {
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 5;
	}

	.header__body {
		height: 60px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__link {
		font-size: 24px;
	}

	.header__burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		left: -100%;
		transition: left 0.3s;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #141414;
		padding: 180px 50px 0px 50px;
		overflow: auto;
	}

	.header__menu.active {
		left: 0;
	}

	.header__login {
		display: none;
	}

	.header__list {
		display: block;
	}

	.header__item {
		margin-bottom: 20px;
	}

}

.header__buttons {
	font-weight: 700;
	display: flex;
	align-items: center;
	column-gap: 16px;
	row-gap: 10px;
	flex-wrap: wrap;
	position: relative;
	z-index: 3;
}

.header__login {
	padding: 8px 16px;
	border-radius: 5px;
	background-color: #fff;
	color: #141414;
	transition: all 0.3s;
	font-size: 16px;
	line-height: 24px;
}

.header__login:hover {
	color: #fff;
	background-color: red;
}

.header__registration {
	color: #fff;
	background-color: red;
	padding: 8px 16px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
}

.header__registration:hover {
	background-color: #fff;
	color: #141414;
	transition: all 0.3s;
}

/*==========================================================================================*/

.content {
	padding-top: 100px;
	color: #fff;
	margin-bottom: 100px;
}

.content__block h1 {
	padding: 10px 0;
	margin-bottom: 10px;
	font-size: 34px;
	line-height: 40px;
}

.content__block h2,
.content__title {
	padding: 10px 0;
	margin: 15px 0 10px;
	border-bottom: 2px solid red;
	font-size: 30px;
	line-height: 36px;
}

.content__block h3 {
	padding: 5px 0;
	margin-bottom: 10px;
	font-size: 22px;
}


.content__block p {
	padding: 5px 0;
	margin-bottom: 10px;
}

.content__block ul {
	padding-bottom: 10px;
}

.content__block li {
	padding-bottom: 3px;
	margin-left: 18px;
}

.content__menu li {
	list-style: none;
	position: relative;
}

.content__menu-link {
	margin-right: 10px;
	font-size: 22px;
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.content__menu-item.active {
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	margin-bottom: 10px;
}

.content__menu-item.active button {
	border: 0px;
	border-radius: 0px;
}

.content__menu-item.active ul {
	display: block;
	border-top: 2px solid red;
}

.content__menu-item.active img {
	transform: rotate(-180deg);
}

.content__menu-link img {
	width: 25px;
	height: 25px;
	color: #fff;
}

.content__sub-menu-list {
	display: none;
}

.content__sub-menu-list li {
	font-size: 16px;
	padding: 20px;
}

@media (max-width: 768px) {
	.content__menu-link {
		font-size: 18px;
	}
}

/*==========================================================================================*/

.banner__container {
	position: relative;
	margin-bottom: 50px;
}

.banner__image {
	width: 100%;
	height: auto;
	display: block;
}

.banner__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

.banner__text {
	font-size: 60px;
	font-weight: 900;
	line-height: 130%;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.banner__text span {
	color: red;
}

.banner__button {
	height: 60px;
	padding: 10px 24px;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 24px;
	background-color: red;
	border-radius: 5px;
	transition: all 0.3s;
}

.banner__button:hover {
	color: red;
	background-color: #fff;
}

@media (max-width: 768px) {
	.banner__text {
		font-size: 24px;
	}
}

@media (max-width: 425px) {
	.banner__text {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.banner__button {
		height: 40px;
		padding: 10px 24px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 600;
	}
}

/*==========================================================================================*/
.search {
	margin-bottom: 50px;
}

.search__title img {
	width: 24px;
	height: 24px;
}

.search__title {
	display: flex;
	align-items: center;
	gap: 15px;
	color: #fff;
	padding: 5px;
	margin: 5px 0;
	font-size: 24px;
	font-weight: 700;
}

.search__title button {
	transition: color 0.3s;
}

.search__title button:hover {
	color: red;
}

.search__body {
	border: 3px solid red;
	display: none;
	background: #f3f3f3;
	border-radius: 20px;
}

.search__body.open {
	display: block;
}

.search__list {
	padding: 40px 0px;
}

.search__list li {
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 24px;
	list-style: none;
	padding-left: 40px;
	transition: color 0.3s;
}

.search__list li:hover {
	color: red;
}

@media (max-width: 555px) {
	.search__list li {
		font-size: 14px;
		padding-left: 20px;
	}
}

/*==========================================================================================*/

.footer__body {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	align-self: center;
	column-gap: 8px;
	row-gap: 15px;
	margin-bottom: 30px;
}

.footer__image {
	margin: 0 auto;
	max-width: 97px;
}

.footer__image img {
	max-width: 100%;
}

.footer__text {
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.footer__body {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 475px) {
	.footer__body {
		grid-template-columns: repeat(2, 1fr);
	}
}